/* Write your code here: */

h1, h2{ /* group rule */
    color: blueviolet;
}

div > p{ /* child rule */
    color: firebrick;
}

.box li{ /* descendant rule */
    color: blue;
}

li.done{ /* chaining */
    color: seagreen;
}

ul p.done{ /* combining combiners */
    font-size: 0.5rem;
}
